<% provide(:page_title, 'All Posts') %>
<% provide(:blog_active, 'active') %>
<div class="row">
  <%= render @posts %>
</div>
<!-- render page links in the view: -->
<div class="apple_pagination">
  <!-- apple digg flickr -->
  <!-- 
  <div class="page_info">
    <%= page_entries_info @posts %>
  </div> 
  -->
  <!-- container: false, :page_links => false -->
  <%= will_paginate @posts, container: false %>
</div>