#jobs
  - @jobs.each do |job|
    .job
      %br/
      %h2= link_to job.title, job_path(job)
      %p.mb-0.ml-3
        %span= Category.find(job.category_id).name
        = job.description
      %p.lead.mb-0= job.company

  