<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-3 mt-3">
      <div class="img-thumbnail">
        <%= link_to (image_tag movie.image.url(:medium), class: 'img-fluid'), movie %>
      </div>
      <div class="star-rating" data-score=<%= ave_stars(movie) %>></div>
      <em><%= "#{movie.reviews.length} reviews"%></em>
    </div>
  <% end %>
</div>