/* app/assets/stylesheets/_navbar.scss */

.navbar {
    border-radius: 0;
    margin-bottom: 20px;
    .navbar-brand {
        font-weight: bolder;
        .light {
            font-weight: 300;
        }
    }
    .navbar-toggler {
        outline: none;
    }
}