<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag 'logo.svg' %>
  </div>
  <div id="content">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab reiciendis eaque, atque optio nobis unde animi esse voluptatem cum cupiditate earum impedit eum illo natus, delectus a molestiae pariatur! Temporibus in, perferendis itaque rerum ab ipsa blanditiis, possimus labore asperiores. Qui, ipsum. Magnam dolor exercitationem atque, commodi hic quod quos deleniti modi eos a similique, quam architecto veniam officiis laboriosam eveniet non repudiandae eligendi mollitia iusto odit. Quibusdam quia blanditiis, quam et deserunt iste in aliquid tempore nemo iusto beatae similique inventore ea adipisci voluptatum porro ex asperiores ullam dolore, nobis recusandae sequi totam officiis alias. Quos dicta ipsam quis itaque atque cupiditate nobis, et optio voluptates harum numquam quibusdam veniam natus officiis nam at quisquam quod delectus dolorum repellendus ullam molestiae, eius laborum nihil. Quidem ut quisquam sint laborum cumque necessitatibus repellat beatae similique, hic maxime sapiente architecto doloribus, ullam, alias vero recusandae nam magnam molestias numquam aut! Iure et voluptatem exercitationem beatae unde perferendis praesentium natus quia aliquid tempore quas quam aut, quasi vel, veritatis at nostrum? Voluptatem qui, consequatur ipsum quisquam! Itaque cum nisi quas voluptate, eum natus modi! Animi quas quaerat quidem error incidunt cumque, laborum, aut corrupti ullam at voluptatem harum quisquam qui praesentium esse?</p>
  </div>
</div>