<p id="notice"><%= notice %></p>
<h1>FlexBox Bootstrap Tests</h1>
<!-- first example  -->
<div class="container">
  <form action="">
    <div class="form-row">
      <label for="name">Name:</label>
      <input type="text" id="name"></input>
  </div>
  <div class="form-row">
    <label for="favColor">Favorite Color:</label>
    <input type="text" id="favColor"></input>
</div>
</form>
</div>
<!-- /first example  -->
<!--  -->
<!-- second example  -->
<div class="column-layout">
  <div class="main-column">
    <h4>Main Column</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio repudiandae earum mollitia incidunt voluptates autem adipisci, impedit libero totam numquam expedita voluptate, nam, similique ullam temporibus!</p>
    <p>Veritatis iure impedit quos dolor, enim ipsum aperiam eius delectus. Sit quis, ducimus cupiditate ad ipsa rem voluptas quae soluta doloribus sint eveniet, et aspernatur quisquam. Aperiam laborum eum sunt harum quos amet, rerum ut voluptas blanditiis modi officiis vitae quia assumenda id ex, porro ipsum. Quibusdam optio sunt aspernatur, porro expedita omnis dolores cumque, dolorum tenetur animi consequuntur obcaecati sed quis inventore atque itaque dolore nihil eveniet fugit labore. Quod dolorum beatae cumque.</p>
  </div>
  <div class="sidebar-one">
    <h5>Sidebar One</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, vel, eveniet. Veniam natus consequuntur pariatur ducimus nesciunt laudantium ea ullam.</p>
  </div>
  <div class="sidebar-two">
    <h5>Sidebar Two</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint quibusdam eligendi eveniet repudiandae ducimus reiciendis, quia cum est? Earum, exercitationem.</p>
  </div>
</div>
<!-- /second example  -->
<!--  -->
<!-- third example  -->
<div class="call-outs-container">
  <div class="call-out">
    <h4>Feature 1</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem asperiores nihil eligendi enim minus repellendus inventore repellat quos blanditiis beatae ipsum voluptates natus doloribus soluta deleniti aperiam earum, fugit. Laudantium quae nobis, sint atque deserunt sequi commodi neque vel. Doloremque neque, ipsum quisquam assumenda cupiditate fugit at, dolores nostrum deleniti eos voluptatem illum minus debitis dolorem ducimus culpa consequuntur provident est quod velit autem accusantium error. Fuga illo obcaecati molestiae magni expedita, itaque esse odio, impedit ipsum voluptatem odit nobis.</p>
  </div>
  <div class="call-out">
    <h4>Feature 2</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias rem, placeat, odio provident animi hic optio alias eveniet ipsa fugiat perspiciatis, sit unde in facere nam ipsum nihil assumenda magnam dolorum, earum sequi sed? Sint dolorem minus tempore asperiores aut sed dicta quibusdam voluptatum assumenda, obcaecati iusto voluptas, ducimus nisi.</p>
  </div>
  <div class="call-out">
    <h4>Feature 3</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae iusto ullam error, consequuntur possimus in atque et esse libero, magni recusandae quaerat autem deleniti tenetur quam iure. Soluta, officia, cum!</p>
  </div>
</div>
<!-- /third example  -->
<!--  -->
<!-- fourth example  -->
<div class="fixed-size-container">
  <div class="fixed-size">1</div>
  <div class="fixed-size">2</div>
  <div class="fixed-size">3</div>
  <div class="fixed-size">4</div>
  <div class="fixed-size">5</div>
</div>
<!-- /fourth example  -->
<!--  -->
<!--  -->
<!-- fifth example  -->
<div class="banner">
  <div class="center-me">
    Center Me Please
  </div>
</div>
<!-- /fifth example  -->
<!--  -->
<!-- sixth example  -->
<div class="equal-height-container">
  <div class="first">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit unde vitae voluptatibus amet voluptate sint facilis ex, nobis eligendi odio tenetur quod, minus doloremque, necessitatibus repudiandae ut possimus voluptates perspiciatis.</p>
    <p>Quisquam animi quidem reprehenderit quia asperiores aliquid quam quo nesciunt possimus, voluptates blanditiis numquam aspernatur optio cupiditate, alias dolore, assumenda molestiae rerum. Odio fugit veniam, ipsum dolore, hic nam debitis.</p>
    <p>Dolore similique eaque ipsa nostrum, asperiores nisi deleniti tempore harum. Vero ea, quae deleniti molestiae ipsam, expedita optio, aspernatur facere nobis explicabo fugiat modi hic a obcaecati. Cupiditate, quod iure.</p>
    <p>Ratione quisquam esse suscipit omnis sed neque architecto tempora ut totam magnam rerum, cumque minus minima, eum quod quo dolorem nobis aliquid ea sapiente! Delectus, tempora animi voluptatem aperiam blanditiis!</p>
  </div>
  <div class="second">
    <div class="second-a">A</div>
    <div class="second-b">B</div>
  </div>
</div>
<!-- /sixth example  -->
<!--  -->
<div class="banner">
  <div class="center-me">
    End
  </div>
</div>