<!-- 

Some setup you must do manually if you haven't yet:
3. Ensure you have flash messages in app/views/layouts/application.html.erb.
For example:

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

-->
<% flash.each do |name, msg| %>
  <% if name == "alert" %>
    <%= content_tag(:div, msg, class: "alert alert-danger", style: "color: red") %>
  <% elsif name == "notice" %>
    <%= content_tag(:div, msg, class: "alert alert-success", style: "color: green") %>
  <% end %>
<% end %>