<!-- app/views/posts/show.html.erb -->
<% provide(:page_title, @post.title) %>
<% provide(:blog_active, 'active') %>
<div class="row">
  <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
    <div class="text-center">
      <!-- Center aligned text on all viewport sizes -->
      <h1><%= @post.title %></h1>
      <p>Jan 14, 2016</p>
    </div>
    <div><%= @post.body %></div>
  </div>
</div>