/* grays */

$gray0: #FFFFFF;
$gray1: #F9F9F9;
$gray2: #F4F4F4;
$gray3: #EFEFEF;
$gray4: #E9E9E9;
$gray5: #E4E4E4;
$gray6: #DFDFDF;
$gray7: #D9D9D9;
$gray8: #D4D4D4;
$gray9: #CFCFCF;
$gray10: #C9C9C9;
$gray11: #C4C4C4;
$gray12: #BFBFBF;
$gray13: #B9B9B9;
$gray14: #B4B4B4;
$gray15: #AFAFAF;
$gray16: #A9A9A9;
$gray17: #A4A4A4;
$gray18: #9F9F9F;
$gray19: #999999;
$gray20: #949494;
$gray21: #8F8F8F;
$gray22: #898989;
$gray23: #848484;
$gray24: #7F7F7F;
$gray25: #797979;
$gray26: #747474;
$gray27: #6F6F6F;
$gray28: #696969;
$gray29: #646464;
$gray30: #5F5F5F;
$gray31: #595959;
$gray32: #545454;
$gray33: #4F4F4F;
$gray34: #494949;
$gray35: #444444;
$gray36: #3F3F3F;
$gray37: #393939;
$gray38: #343434;
$gray39: #2F2F2F;
$gray40: #292929;
$gray41: #242424;
$gray42: #1F1F1F;
$gray43: #191919;
$gray44: #141414;
$gray45: #0F0F0F;
$gray46: #090909;
$gray47: #040404;
$gray48: #000000;
